.logo {
    height: 200px;
}

.menu {
    height: 50px;
}

.some-quotes {
    font-size: xx-large;
}

.search {
    border: none;
    border-radius: 20px;
    padding: 1rem;
}

input:focus {
    border-color: #00A9FF;
    box-shadow: 0 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #00A9FF;
    outline: 0 none;
}