* {
    margin: 0;
}

.logo {
    height: 50px;
    margin-left: 22px;
}

.lupa {
    height: 13px;
    margin-left: 22px;
    margin-top: 10px;
}

.busqueda {
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(233, 230, 230);
    border-radius: 20px;
    max-height: 35px;
}

.inputBusqueda {
    background-color: rgb(233, 230, 230);
    border-radius: 20px;
    outline: 0;
    border: 0;
}

header{
    height: 55px;
    display: flex;
    border-bottom: rgb(238, 238, 238) solid 0.3px; /* linea suave */
}

.escribir {
    margin-left: 850px;
    display: flex;
    margin-top: 15px;
}

.writepng {
    height: 20px;
}

.write {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4px;
    margin-left: 6px;
    color: rgb(133, 133, 133);
}

.campana {
    height: 23px;
    margin-top: 15px;
    margin-left: 35px;
}

.user {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-top: 12px;
    margin-left: 30px;
}

.articulo {
    margin-left: 25%;
    width: 90%;
}

.article-center {
    width: 50%;
    padding-top: 3.5rem;
    padding-bottom: 2rem;
}
.title {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.creator {
    width: 40%;
    display: flex;
    justify-content: start;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border-bottom: rgb(226, 226, 226) solid 0.3px;
    width: 620px;
    margin-top: 25px;
}

.perfil {
    height: 45px;
    width: 45px;
    border-radius: 100%;
}

.globant {
    height: 25px;
    width: 25px;
    margin-left: -15px;
    border-radius: 100%;
    margin-right: 20px;
}

.follow {
    color: green;
}

.iconos {
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
.manos {
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.comments {
    height: 20px;
    margin-left: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.fav {
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.play {
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.upload {
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.point {
    height: 20px;
    cursor: pointer;
}

.caption {
    font-family: Arial, Helvetica, sans-serif;
}

.figure {
    margin-top: 30px;
}

.picture {
    width: 620px;
}

.caption {
    color: rgb(116, 115, 115);
    margin-left: 180px;
}

.picaption {
    text-decoration-line: underline;
    cursor: pointer;
}

.description-article {
    margin-top: 40px;
    font-size: larger;
    margin-right: 52%;
}

.description-article-decoration {
    text-decoration-line: underline;
}

li {
    margin-top: 40px;
    font-size: larger;
}

.three-points {
    font-size: xx-large;
    margin-left: 320px;
    margin-top: 30px;
}

.description-section {
    margin-top: 20px;
    font-size: larger;
    margin-right: 52%;
}

.start-section {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

.description-section-decoration {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(228, 228, 228);
}

.code-explaining {
    height: 150px;
    width: 500px;
    background-color: rgb(230, 230, 230);
    margin-top: 50px;
    padding: 70px;
    border-radius: 10px;
    border: rgb(175, 175, 175) solid 0.3px;
    font-family: 'Courier New', Courier, monospace;
}

.code-explaining-comment {
    color: green;
}

.code-explaining-purple-lines {
    color: rgb(72, 1, 138);
}

.code-explaining-blue-lines {
    color: rgb(17, 0, 255);
}

.spaces-one {
    margin-left: 20px;
}

.spaces-two {
    margin-left: 40px;
}